* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/back.jpg);
    background-position: center;
    background-size: cover;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

}

.logo {
    width: 50px;
    cursor: pointer;
}

.menu li {
    list-style: none;
    display: inline-block;

}

.menu li a {
    text-decoration: none;
    font-size: 15px;
    color: aliceblue;
    margin-left: 15px;

}

.menu li :hover {
    color: brown;
    border: 2px solid white;
    padding: 7px 10px;
    border-radius: 10px;
    transition: 0.5s ease;
}

.row {
    height: 88%;
    align-items: center;
    display: flex;
    margin: 30px;
}

.col {
    flex-basis: 50%;
}

h1 {
    font-size: 100px;
    color: white;
}

p {
    color: white;
    font-size: 10px;
    line-height: 15px;

}

button {
    height: 40px;
    color: cyan;
    font-size: 22px;
    background-color: red;
    padding: 5px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    transition: 2s ease;
    cursor: pointer;
}

button:hover {
    background: black;
    border: 2px solid gray;
}

.card {

    width: 50%;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    background-image: url(../images/cup1.jpg);
    background-position: center;
    background-size: cover;
}

.card2 {
    background-image: url(../images/cup2.jpg);
}

.card3 {
    background-image: url(../images/cup3.jpg);
}

.card4 {
    background-image: url(../images/cup4.jpg);
}